<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="container">
      <ul class="list stories__list">
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
            <span class="plus">+</span>
          </div>
          <span>saheb mim</span>
        </li>
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
          </div>
          <span>saheb mim</span>
        </li>
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
          </div>
          <span>saheb mim</span>
        </li>
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
          </div>
          <span>saheb mim</span>
        </li>
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
          </div>
          <span>saheb mim</span>
        </li>
      </ul>
    </section>
  </body>
</html>
